<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="TemplatePath" value="C:\Web\ASF\Templates" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5001" />
    <add key="TempFilePath" value="C:\Temp" />
  </appSettings>  
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=ASF;User Id=sa;password=asf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Home.aspx" timeout="2880" />
    </authentication>
    <customErrors mode="Off"></customErrors>
    <membership defaultProvider="TGSMembershipProvider">
      <providers>
        <clear />
        <add name="TGSMembershipProvider" type="TGS.Providers.TGSMembershipProvider" connectionStringName="ConnectionString" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="tgs" namespace="TGS.Common.UserControls" assembly="TGS.Common" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
        <identity impersonate="true" />

  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
                <add value="Home.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="melissa@geminisolution.co.za">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" enableSsl="true" userName="melissa@geminisolution.co.za" password="melissaN" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
