body {
}

.grid 
{
    background-color: #FFFFFF;
    margin: 5px;
    border: solid 1px #CCCCCC;
    font-family: Tahoma;
    font-size: 8pt;
}

.grid th
{
    padding-left: 2px;
}

.grid tr
{
    border-color: #CCCCCC;
}

.grid td
{
    padding-left: 2px;
}

.grid .gridHeader
{
    height: 30px;
    background: url(/Images/GridHeaderBG.png) repeat-x scroll 50% 50%;
    font-weight: bold;
    color: #666666;
    padding: 1px;
}

.grid *
{
    border-color: #CCCCCC;
}

.grid .row
{
    background-color: #FFFFFF;
     height: 20px;
}

.grid .row:hover
{
     background-color: #E6E6E6;
}

.grid .alternatingRow
{
    background-color: #f1f4f8;
    height: 20px;
}
.grid .alternatingRow:hover
{
    background-color: #E6E6E6;
}

.grid a
{
    font-family: Tahoma;
    font-size: 8pt;
    color: #343434;
    text-decoration: underline;
}
